Flask==1.1.2
geojson==2.5.0
gunicorn==20.0.4
idna==2.9
isort==5.5.4
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
lazy-object-proxy==1.4.3
lightgbm==3.0.0
numpy==1.19.2
pandas==1.1.2
requests==2.23.0
scikit-learn==0.23.2
scipy==1.5.2
selectorlib==0.16.0
urllib3==1.25.9
